# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
data/
!tests/data
.idea/spiegelib.iml
.idea/
audio/
src/test.py
jupyter/

# due to using tox and pytest
.tox
.cache
.coverage

