# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
data/
!tests/data
src/test.py
audio/
.idea

# due to using tox and pytest
.tox
.cache
.coverage
src/statistical_analysis.py
